.game {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__score {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
  }

  &__current-score {
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  background-color: lightgray;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
  background: lightgray;
  padding: 6rem 0;
}

.hole {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 50%;
  justify-self: center;
  cursor: crosshair;

  &--active {
    background-color: black;
  }
}

.time-left {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .board {
    gap: 1rem;
  }
}

@media (max-width: 300px) {
  .board {
    grid-template-columns: repeat(2, 1fr);
  }
}
